button:focus{
    outline: none;
}

/* POST TEXT TAGS */
.spoiler{
    background-color: #6C6C6C;
    color: #6C6C6C;
}
.spoiler:hover{
    color: black;
    background-color: rgba(0,0,0,0);
}
.overline{
    text-decoration: overline;
}
/* POST TEXT TAGS END */

.lastPost::before{
    content: "...";
    float: left;
    margin:0 5px 0;
}

/* POST FORM BTNS */
.textFormattingBtn[title='spoiler']{
    height: 30px;
    width: 46px;
}
.textFormattingBtn[title='spoiler'] div{
    background-color: #565656;
    width: 100%;
    height: 100%;
}
/* POST FORM BTNS END */

/* FUNCTIONAL TABS */
.funcTabs{
    position: fixed;
    z-index: 10;
    background-color: #a1acb5;
}
.funcTabs ul{
    list-style: none;
}
.funcTabs span{
    width: 100%;
    max-width: inherit;
    cursor:pointer;
}
#reportList{
    top:0;
    right: 150px;
    max-width:450px;
}
#favourites{
    bottom: 0;
    right: 200px;
}
.favourite{
    width: 350px;
}
.funcTabs button{
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(0,0,0,0.0);
    background-size: 80% 80%;
    height: 24px;
    width: 1px;
    padding: 1px 12px;
    border:0;
}
.favouriteDelete{
    background-image:url({{ asset('assets/icons/remove.svg') }});
}
.updateBtn{
    background-image:url({{ asset('assets/icons/update.svg') }});
}
/* FUNCTIONAL TABS END */

#errorPopUp{
    position: fixed;
    left: 50%;
    top:25%;
    z-index:10;
    transform: translateX(-50%);
}

/* UP/DOWN BTNS */
.upDownBtns{
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(0,0,0,0.5);
    background-size: 80% 80%;
    z-index: 100;
    height: 60px;
    width: 60px;
    position: fixed;
}
#btnUp{
    background-image:url({{ asset('assets/icons/arrow-up.svg') }});
    top: 60px;
    right: 60px;
}
#btnDown{
    background-image:url({{ asset('assets/icons/arrow-down.svg') }});
    bottom: 60px;
    right: 60px;
}
/* UP/DOWN BTNS END */

/* FLOATING FORM */
#floatingFormHeader{
    z-index: 10;
    border-bottom: 1px solid black;
}
#floatingFormHeader span{
    cursor: move;
}
/* FLOATING FORM END*/

/* POSTS */
.post{
    min-width: 350px;
}
.post-preview{
    position:absolute;
    display: none;
    z-index:10;
}
.postFunctions{
    position: absolute;
    left: 100%;
}
.postFunc{
    padding: 0;
    border: 0;
    width:20px;
    height: 20px;
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
}
.postEdit{
    background-image:url('{{ asset('assets/icons/edit.svg') }}');
}
.postDelete{
    background-image: url('{{ asset('assets/icons/delete.svg') }}');
}
.postPin{
    background-image: url('{{ asset('assets/icons/pin.svg') }}');
}
.postReport{
    background-image: url('{{ asset('assets/icons/report.svg') }}');
}
.postAddFavourite{
    background-image: url('{{ asset('assets/icons/star.svg') }}');
}
.opMark{
    color:#718C00;
}
.postNumber{
    background: rgba(0,0,0,0);
    border: 0;
    padding: 0;
}
.thumbnailsMultiple{
    float:left;
}
.editForm{
    top:40%;
    left:65%;
    transform:translate(-50%, -50%);
    display: none;
    position: fixed;
    z-index: 9;
    background-color: gray;
}
.editFormHeader{
    z-index: 10;
    border-bottom: 1px solid black;
}
/* POSTS END */

/* POST FORM LOADER */
.form-wrap-loader{
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.5);
    z-index: 10;
    position: absolute;
    top:0;
}

.loader {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 7px solid #d0d0d0;
    border-radius: 50%;
    border-top: 7px solid #007bff;
    width: 50px;
    height: 50px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
/* POST FORM LOADER END */