{% extends 'base.html.twig' %}

{% block preBodyJavascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/thread/preLoad.js') }}"></script>
{% endblock %}

{% block body %}
    {% macro formFields(form, mode) %}
        <span class="px-0 col-sm-12 form-group row no-gutters align-items-center">
            {{ form_label(form.sender,null, {'label_attr':{'class':'col-sm-3'}}) }}
            {{ form_widget(form.sender, {'attr':{'class':'form-control col-sm-9 px-2', 'placeholder':'non-required'}}) }}
        </span>
        {% if mode==constant('App\\Controller\\BoardController::FORM_MODE_START_THREAD') %}
            <span class="px-0 col-sm-12 form-group row no-gutters align-items-center">
                {{ form_label(form.theme,null, {'label_attr':{'class':'col-sm-3'}}) }}
                {{ form_widget(form.theme, {'attr':{'class':'form-control col-sm-9 px-2', 'placeholder':'non-required'}}) }}
            </span>
        {% endif %}
        <span class="px-0 col-sm-12 form-group row no-gutters align-items-center" id="text">
            {{ form_label(form.text,null, {'label_attr':{'class':'col-sm-3'}}) }}
            {{ form_widget(form.text, {'attr':{'class':'form-control col-sm-9 px-2', 'rows':'4', 'placeholder':'up-to 15000 symbols'}}) }}
        </span>
        <span class="px-0 col-sm-12 form-group row no-gutters align-items-center justify-content-between"
              id="postFormToolBar">
            <button class="textFormattingBtn" type="button" title="bold" onclick="addTags('[b]', '[/b]', this)">
                <strong>B</strong>
            </button>
            <button class="textFormattingBtn" type="button" title="italic" onclick="addTags('[i]', '[/i]', this)">
                <i>I</i>
            </button>
            <button class="textFormattingBtn" type="button" title="quote" onclick="addTags('>', '', this)">
                <span style="color: #2b5b00">></span>
            </button>
            <button class="textFormattingBtn" type="button" title="underscore" onclick="addTags('[u]', '[/u]', this)">
                <u>U</u>
            </button>
            <button class="textFormattingBtn" type="button" title="overline" onclick="addTags('[o]', '[/o]', this)">
                <span style="text-decoration:overline">O</span>
            </button>
            <button class="textFormattingBtn" type="button" title="spoiler"
                    onclick="addTags('[spoiler]', '[/spoiler]', this)">
                <div></div>
            </button>
            <button class="textFormattingBtn" type="button" title="strike" onclick="addTags('[s]', '[/s]', this)">
                <s>S</s>
            </button>
            <button class="textFormattingBtn" type="button" title="sup" onclick="addTags('[sup]', '[/sup]', this)">
                <sup>Sup</sup>
            </button>
            <button class="textFormattingBtn" type="button" title="sub" onclick="addTags('[sub]', '[/sub]', this)">
                <sub>Sub</sub>
            </button>
        </span>
        <div class="px-0 col-sm-12 form-group row no-gutters align-items-center" id="text">
            <div class="col-sm-3">
                {{ form_label(form.attachments) }}
            </div>
            <div class="col-sm-9">
                {{ form_widget(form.attachments, {'attr':{'class':'col-sm-9 p-0 mb-2 post_attachment', 'placeholder':'up-to 150 symbols', 'onchange':'addFileInput(this)' }}) }}
            </div>
            <small class="col-sm-9 ml-auto">
                <small>Only 4 files allowed. Supported file types: gif, jpeg, png, tiff, webm, mpeg, mp4</small>
            </small>
        </div>
        {% if mode==constant('App\\Controller\\BoardController::FORM_MODE_CREATE_POST') %}
            <div class="px-0 col-sm-12 form-group row no-gutters align-items-center justify-content-between">
                <div>
                    {{ form_label(form.isOp,null, {'label_attr':{'class':''}}) }}
                    {{ form_widget(form.isOp, {'attr':{'class':'p-0'}}) }}
                </div>
                <div>
                    {{ form_label(form.sage,null, {'label_attr':{'class':''}}) }}
                    {{ form_widget(form.sage, {'attr':{'class':'p-0'}}) }}
                </div>
                <button class="btn btn-primary col-sm-6 sendPostBtn" type="button">Send</button>
            </div>
        {% else %}
            <button class="btn btn-primary col-sm-12 startThreadBtn" type="submit">Send</button>
        {% endif %}
    {% endmacro %}

    {% macro editFormFields(form, id) %}
        <span class="px-0 col-sm-12 form-group row no-gutters align-items-center">
            {{ form_label(form.sender,null, {'label_attr':{'class':'col-sm-3'}}) }}
            {{ form_widget(form.sender, {'attr':{'class':'form-control col-sm-9 px-2', 'placeholder':'non-required'}}) }}
        </span>
        <span class="px-0 col-sm-12 form-group row no-gutters align-items-center">
            {{ form_label(form.theme,null, {'label_attr':{'class':'col-sm-3'}}) }}
            {{ form_widget(form.theme, {'attr':{'class':'form-control col-sm-9 px-2', 'placeholder':'non-required'}}) }}
        </span>
        <span class="px-0 col-sm-12 form-group row no-gutters align-items-center" id="text">
            {{ form_label(form.text,null, {'label_attr':{'class':'col-sm-3'}}) }}
            {{ form_widget(form.text, {'attr':{'class':'form-control col-sm-9 px-2', 'rows':'4', 'placeholder':'up-to 15000 symbols'}}) }}
        </span>
    {% endmacro %}

    {% macro upperLowerForm(form, fields, formId) %}
        <button class="col-sm-12 btn btn-secondary" onclick="showHideForm(this, true, '{{ formId }}')" type="button">
            Show form
        </button>
        {% if app.request.attributes.get('op_post_id')!=null %}
            {{ form_start(form, {
                'attr':{
                    "class":"mt-4 postForm", "style":"display: none;", "id":formId,
                    "action":path('thread_index',{'op_post_id':app.request.attributes.get('op_post_id'), 'alias':app.request.attributes.get('alias')})
                }}) }}
        {% else %}
            {{ form_start(form, {
                'attr':{
                    "class":"mt-4 threadForm", "style":"display: none;", "id":formId,
                    "action":path('board_index',{'alias':app.request.attributes.get('alias')})
                }}) }}
        {% endif %}
        {{ fields|raw }}
        {{ form_end(form) }}
    {% endmacro %}

    {% macro floatingForm(form, fields) %}
        {{ form_start(form,{
            'attr':{
                'class':'col-sm-4 py-2',
                'style':"top:40%; left:65%; transform:translate(-50%, -50%); display: none; position: fixed; z-index: 9; background-color: gray;",
                "id":"floatingForm"
            }
        }) }}
        <p id="floatingFormHeader" class="py-0 px-0 col-sm-12 row no-gutters d-inline-flex">
            <span class="mb-0 col-sm-11">
                Form
            </span>
            <span class="mb-0 col-sm-1" onclick="this.parentElement.parentElement.style.display='none'">
                Close
            </span>
        </p>
        {{ fields|raw }}
        {{ form_end(form) }}
    {% endmacro %}

    {% from 'thread/post.html.twig' import post as post %}

    {% macro threadBar(isUp=true, postsNumber) %}
        <div class="px-2 {% if isUp=="down" %}border-top{% endif %}
                {% if isUp=="up" %}border-bottom{% endif %}
                col-sm-12 d-inline-flex justify-content-between">
            <span>
                {% if app.request.attributes.get('op_post_id')!=null %}
                    <a href="{{ path('board_index', {'alias':app.request.attributes.get('alias')}) }}">To board</a>
                {% endif %}
                <a {{ isUp=='up' ? 'href="#up" id="down">Down' : 'href="#down" id="up">Up' }}</a>
                <a>Follow thread</a>
                <a href="{{ app.request.uri }}/#{{ isUp=='up' ? 'down' : 'up' }}">Refresh thread</a>
            </span>
            <span>
                <span>Posts: </span>
                <span class="postsNumber">{{ postsNumber }}</span>
            </span>
        </div>
    {% endmacro %}

    {% if not postForm.vars.valid %}
        <div class="alert alert-danger" id="errorPopUp"
             onclick="this.style.visibility='hidden'">
            {{ form_errors(postForm) }}
            <br/>
            <small>Click to hide</small>
        </div>
    {% endif %}

    {% macro boardsListing(themes) %}
        {% for theme in themes %}
            [<span>
                {% for board in theme.boards %}
                    <a href="{{ path('board_index', {'alias': board.alias}) }}">/{{ board.alias }}/</a>
                {% endfor %}
            </span>]
        {% endfor %}
        [
        <span>
            <a href="{{ path('index') }}">Main page</a>
        </span>
        <span>|</span>
        <span>
            <a href="#" onclick="setNSFW()">NSFW</a>
        </span>
        ]
    {% endmacro %}

    {% if is_granted(["ROLE_MODER"]) %}
        <div id="reportList" class="border border-lg p-2 funcTabs">
            <div class="d-flex inline-flex">
                <span onclick="showHideForm(this, false, 'reportListUl');">
                    Reports
                </span>
                <button type="button" class="updateBtn" onclick="loadReports(this)"></button>
            </div>
            <ul class="m-0 p-0" style="display: none;" id="reportListUl">
                {% for report in reports %}
                    {% include 'thread/reportListRow.html.twig' %}
                {% endfor %}
                {% if reports|length==0 %}
                    <li>No reports were left</li>
                {% endif %}
            </ul>
        </div>
    {% endif %}

    <div id="favourites" class="funcTabs p-2">
        <div class="d-flex inline-flex">
            <span onclick="showHideForm(this, false,'favouritesUl');">Favourites</span>
            <button type="button" class="updateBtn" onclick="updateFavouritesBtnHandler(this)"></button>
        </div>
        <ul class="m-0 p-0" style="display: none;" id="favouritesUl"></ul>
    </div>

    <div class="container-fluid p-0 h-100" id="content">
        {% set formFields = _self.formFields(postForm, mode) %}
        {% if editForm!=null %}
            {% set editFormFields = _self.editFormFields(editForm) %}
        {% endif %}
        {% set boardsListing = _self.boardsListing(themes) %}
        {% if app.request.attributes.get('op_post_id')!=null %}
            {{ _self.floatingForm(postForm, formFields) }}
        {% endif %}
        <button class="border rounded upDownBtns" id="btnUp" onclick="toTop()"></button>
        <button class="border rounded upDownBtns" id="btnDown" onclick="toBottom()"></button>
        {# header #}
        <div class="row no-gutters justify-content-center pb-0 bordered border-bottom">
            <div class="col-sm-12 px-2">
                <div class="col-sm-12 ">
                    {{ boardsListing }}
                </div>
                <div class="col-sm-3 mx-auto px-0">
                    <h1 class="text-center">
                        <a href="{{ url('board_index',{'alias':board.alias}) }}">{{ board.name }}</a>
                    </h1>
                    <p class="text-justify mb-0">
                        {{ board.description }}
                    </p>
                </div>
                {# upper form #}
                <div class="col-sm-3 mx-auto my-2 px-0">
                    {{ _self.upperLowerForm(postForm, formFields, 'upperForm') }}
                </div>
            </div>
        </div>
        {# content #}
        <div class="row no-gutters">
            {# thread bar #}
            {% if app.request.attributes.get('op_post_id')!=null %}
                {{ _self.threadBar("up", postsNumber) }}
            {% endif %}
            {# posts #}
            <ul class="list-group pb-0 pt-2 px-2" id="postList">
                {% for post in posts %}
                    {{ post(post['last'] is defined ? post['op'] : post, loop, null, editForm, editFormFields ?? null) }}
                    {% if post.last is defined and not post.last.isOp %}
                        {% if post['op'].thread.posts.count>2 %}
                            <small>
                                Posts ommited: {{ post['op'].thread.posts.count - 2 }}
                            </small>
                        {% endif %}
                        <div class="mr-auto lastPost">
                            {{ post(post.last, loop, null) }}
                        </div>
                    {% endif %}
                {% endfor %}
                {% if posts|length < 1 %}
                    {{ 'No threads yet' }}
                {% endif %}
            </ul>
            {# thread bar #}
            {% if app.request.attributes.get('op_post_id')!=null %}
                {{ _self.threadBar("down", postsNumber) }}
            {% endif %}
            {# lower form #}
            <div class="col-sm-12 bordered border-top">
                <div class="col-sm-3 mx-auto my-2 px-0">
                    {{ _self.upperLowerForm(postForm, formFields, 'lowerForm') }}
                </div>
            </div>
        </div>
        {# footer #}
        <div class="row no-gutters">
            <div class="col-sm-12 border p-2">
                <div class="col-sm-12 px-0">
                    {{ boardsListing }}
                </div>
                <span>{{ commons.copyright }}</span>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>{% include 'thread/index.css.twig' %}</style>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/thread/modules/fetch.js') }}"></script>
    <script src="{{ asset('assets/js/thread/modules/animations.js') }}"></script>
    <script src="{{ asset('assets/js/thread/modules/elements.js') }}"></script>
    <script src="{{ asset('assets/js/thread/modules/favourites.js') }}"></script>
    <script src="{{ asset('assets/js/thread/modules/favourites/Thread.js') }}"></script>
    <script src="{{ asset('assets/js/thread/modules/favourites/Favourites.js') }}"></script>
    {% if is_granted('ROLE_MODER') %}<script src="{{ asset('assets/js/thread/modules/reports.js') }}"></script>{% endif %}
    <script src="{{ asset('assets/js/thread/postLoad.js') }}"></script>
{% endblock %}