{% macro post(post, postLoop=null, isPreview=false, editForm=null, editFormFields=null) %}
    <div id="{{ post.inboardId }}{% if isPreview %}p{% endif %}"
         class="{% if not isPreview %}mr-auto {% endif %}d-flex flex-column list-group-item mb-2 p-0 post{% if isPreview %}-preview{% endif %}">
        {% if editForm!=null and post.isOp %}
            {{ _self.editForm(editForm, post, editFormFields) }}
        {% endif %}
        {# moder/admin thread-functions #}
        <div class="d-inline-flex postFunctions">
            {% set alias = app.request.get('alias') ?? post.thread.board.alias %}
            {% if post.isOp and post.id == post.thread.opPost.id %}
                {% if is_granted('ROLE_MODER') %}
                    {# edit #}
                    <button class="ml-1 rounded-lg postEdit postFunc"
                            onclick="showFloatingEditForm('{{ 'editForm'~post.inboardId }}')"></button>
                    {# delete #}
                    <form action="{{ path('thread_delete',{'alias':alias,'op_post_id':post.inboardId}) }}">
                        <button class="ml-1 rounded-lg postDelete postFunc"></button>
                    </form>
                    {# pin btn #}
                    {% if post.thread.isPin %}
                        {% set pinBtnPath = 'thread_unpin' %}
                    {% else %}
                        {% set pinBtnPath = 'thread_pin' %}
                    {% endif %}
                    <form action="{{ path(pinBtnPath,{'alias':alias,'op_post_id':post.inboardId}) }}">
                        <button class="ml-1 rounded-lg postFunc postPin"
                                style="{% if post.thread.isPin %}background-color:#d67e00;{% endif %}"></button>
                    </form>
                {% else %}
                    {% if post.thread.isPin %}
                        {# pin icon #}
                        <div class="ml-1 rounded-lg postFunc postPin"
                             style="{% if post.thread.isPin %}background-color:#d67e00;{% endif %}"></div>
                    {% endif %}
                {% endif %}
                {# favourite #}
                {% if not isPreview %}
                <button class="ml-1 rounded-lg postAddFavourite postFunc"
                        onclick="addFavourite('{{ alias }}', {{ post.inboardId }})"></button>
                {% endif %}
            {% else %}
                {% if app.request.attributes.get('op_post_id') and is_granted('ROLE_MODER') %}
                    {# delete btn for non-op posts#}
                    <form action="{{ path('post_delete', {'alias':alias,'id':post.inboardId, 'op_post_id':app.request.get('op_post_id')}) }}">
                        <button class="ml-1 rounded-lg  postDelete postFunc"></button>
                    </form>
                {% endif %}
            {% endif %}
        </div>
        {# post header #}
        <span class="d-inline-block border-bottom px-2 w-100 text-nowrap">
            <button class="p-1 my-1 rounded-lg postFunc postReport"
                    onclick="sendReport('{{ path('ajax_report', {'id':post.inboardId, 'alias':app.request.get('alias')}) }}')">
            </button>
            <span class="postSender">{{ post.sender }}</span>
            <span class="postTime">{{ post.time }}</span>
            <button class="postNumber" type="button"
                    onclick="showFloatingForm('{{ post.inboardId }}')">
                <a id="{{ post.inboardId }}{% if isPreview %}p{% endif %}" class="post-header-anchor">
                    №{{ post.inboardId }}
                </a>
            </button>
            {% if app.request.attributes.get('op_post_id')==null and not isPreview and post.isOp %}
                <a href="{{ path('thread_index', {'op_post_id':post.inboardId, 'alias':alias}) }}">To thread</a>
            {% endif %}
            {% if post.isOp and app.request.attributes.get('op_post_id')==post.thread.opPost.inboardId %}
                <span class="opMark">#OP</span>
            {% endif %}
            {% if post.isOp %}
                <b class="postTheme">{{ post.theme }}</b>
            {% endif %}
            {% if app.request.attributes.get('op_post_id')!=null %}
                <span class="postIndexNumber">{{ (postLoop!=null) ? '#'~postLoop.index : '' }}</span>
            {% endif %}
        </span>
        {# post content #}
        <div class="p-2 w-100">
            {% if post.thumbnails|length>0 %}
                <div class="d-inline-flex{% if post.thumbnails|length == 1 %} thumbnailsMultiple {% endif %}">
                    {% for thumb in post.thumbnails %}
                        <div class="d-flex flex-column">
                            <small class="d-inline-block text-truncate"
                                   style="width:{{ thumb[4][0] ?? 180 }}px">{{ thumb[0] }}</small>
                            <small class="d-inline-block text-truncate" style="width:100px">{{ thumb[1] }}KB</small>
                            <img class="float-left mr-2 post-attachment"
                                 onload="checkNSFW(this)"
                                 style="width:{{ thumb[4][0] ?? 180 }}px; height: auto; cursor: pointer;"
                                 alt="attachment"
                                 src="data:{{ thumb[2] }};base64,{{ thumb[3] }}"
                                 onclick="showAttachment(this, '{{ path('ajax_load_attachment', {'post_id': post.inboardId, 'attachment_id':loop.index0, 'alias':app.request.get('alias')}) }}')"/>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            <p class="mb-0 px-2 postText" style="margin-top:{% if post.thumbnails|length == 1 %}38px{% else %}5px{% endif %}">
                {{ attachReferences(post.text, url('ajax_load_preview', {'post_id':0, 'alias':app.request.get('alias')}),
                    isPreview ? post.inboardId~'p' : post.inboardId )|raw|nl2br }}
            </p>
        </div>
        {# post answers bar #}
        {% if post.answers|length>0 %}
            <div class="d-inline-block px-2 border-top w-100 no-wrap">
                {% for answer in post.answers %}
                    <div class="d-inline-block">
                        <a id="{{ answer.inboardId }}_{{ post.inboardId }}{% if isPreview %}p{% endif %}"
                           onmouseover="showPreview('{{ answer.inboardId }}_{{ post.inboardId }}{% if isPreview %}p{% endif %}', '{{ url('ajax_load_preview',{'post_id':answer.inboardId, 'alias':app.request.get('alias')}) }}')"
                           onclick="highlightReferenced('{{ answer.inboardId }}')"
                           href="#{{ answer.inboardId }}">
                            <small>>>{{ answer.inboardId }}</small>
                        </a>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endmacro %}

{% macro editForm(form, post, fields) %}
    {{ form_start(form,{
        'attr':{
            'class':'col-sm-4 py-2 editForm',
            'action':path('thread_edit',{'alias':app.request.get('alias'),'op_post_id':post.inboardId}),
            'id':'editForm'~post.inboardId
        }
    }) }}
    <p id="editForm{{ post.inboardId }}Header" class="py-0 px-0 col-sm-12 row no-gutters d-inline-flex editFormHeader">
        <span class="mb-0 col-sm-11" style="cursor:move">
            Form
        </span>
        <span class="mb-0 col-sm-1" style="cursor:pointer"
              onclick="this.parentElement.parentElement.style.display='none'">
            Close
        </span>
    </p>
    {{ fields|raw }}
    <span class="px-0 col-sm-12 form-group row no-gutters align-items-center">
            <label class="col-sm-3" for="edit_op_form_bump_limit">Bump limit:</label>
            <input id="edit_op_form_bump_limit" name="edit_op_form[bumpLimit]" type="text" placeholder="min. 500"
                   class="form-control col-sm-2 px-2" value="{{ post.thread.bumpLimit }}">
        </span>
    <button class="btn btn-primary col-sm-12" type="submit">Edit</button>
    {{ form_end(form) }}
{% endmacro %}

{{ _self.post(post, postLoop, isPreview) }}