<li class="d-flex justify-content-between border-bottom my-1 reportRow" id="report{{ report.id }}">
    <div style="word-wrap:break-spaces; margin-right: 10px; max-width: 335px;">{{ report.reason }}</div>
    <a class="ml-auto" onclick="highlightReferenced({{ report.post.inboardId }})" href="{{ path('thread_index',{'alias':report.post.thread.board.alias, 'op_post_id': report.post.thread.opPost.inboardId}) }}#{{ report.post.inboardId }}">
        {{ report.post.board.alias }} | {{ report.post.inboardId }}
    </a>
    <button class="ml-1 rounded-lg delPostBtn"
            {% if report.post.isOp %}
                onclick="deleteReport(this, '{{ path('ajax_thread_delete',{'op_post_id':report.post.inboardId, 'alias':report.post.board.alias }) }}')"
            {% else %}
                onclick="deleteReport(this, '{{ path('ajax_post_delete',{'id':report.post.inboardId, 'alias':report.post.board.alias }) }}')"
            {% endif %}
            style="padding: 0; border: 0; width:20px; height: 20px; background-size: 80%;
                    background-position: center; background-repeat: no-repeat;
                    background-image: url('{{ asset('assets/icons/delete.svg') }}')"></button>
    <button class="ml-1 rounded-lg delReportBtn" onclick="deleteReport(this, '{{ path('ajax_delete_report', {'id':report.id}) }}')"
            style="padding: 0; border: 0; width:20px; height: 20px; background-size: 80%;
                    background-position: center; background-repeat: no-repeat;
                    background-image: url('{{ asset('assets/icons/close.svg') }}')"></button>
</li>