{% extends 'adminPanel/common.html.twig' %}

{% from 'adminPanel/form.html.twig' import form as form %}

{% block content %}
    <div class="container-fluid d-flex flex-column">
        <div class="d-inline-flex align-items-center p-2">
            <h4 class="m-0 mr-4">General Themes</h4>
            <form action="{{ path('admin_generals_create') }}">
                <button type="submit" class="btn btn-primary">Create</button>
            </form>
        </div>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Boards</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for theme in boardThemes %}
                <tr>
                    <th scope="row">{{ theme.id }}</th>
                    <td>{{ theme.name }}</td>
                    <td>{{ theme.boards.count }}</td>
                    <td>
                        <a href="{{ path('admin_generals_edit', {'id': theme.id}) }}">Edit</a>
                        <a href="{{ path('admin_generals_delete', {'id': theme.id}) }}">Delete</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}