{% extends 'base.html.twig' %}

{% block body %}
    <nav class="navbar navbar-dark bg-dark" style="height:7vh">
        <a class="navbar-brand" style="color: white" href="{{ path('admin_overview_index') }}">Admin panel</a>
    </nav>
    <div class="container-fluid d-flex p-0" style="height:93vh">
        <nav class="nav nav-pills flex-column h-100" style="max-width: 250px; min-width: 250px; background-color: #494c5a; font-size: 16pt">
            <a class="nav-link"
               href="{{ path('admin_overview_index') }}">
                Overview
            </a>
            <a class="nav-link"
               href="{{ path('admin_generals_index') }}">
                General themes
            </a>
            <a class="nav-link"
               href="{{ path('admin_boards_index') }}">
                Boards
            </a>
            <a class="nav-link"
               href="{{ path('admin_reports_index') }}">
                Reports
            </a>
        </nav>
        {% block content %}
        {% endblock %}
    </div>
{% endblock %}