{% extends 'adminPanel/common.html.twig' %}

{% block content %}
    <div class="col-sm-6 py-3">
        <h3 class="border-bottom">{{ formHeader }}</h3>
        {{ form_start(form) }}
        {% for widget in form.children %}
            <div class="form-group row no-gutters">
                {{ form_label(widget, null, {'label_attr':{'class': 'col-sm-4 col-form-label'}}) }}
                <div class="col-sm-8">
                    {{ form_widget(widget, {'attr':{'class': "form-control"}} ) }}
                </div>
            </div>
        {% endfor %}
        {% if formHeader=="Overview"%}
            <button class="btn btn-primary" type="submit">Edit</button>
        {% else %}
            <button class="btn btn-primary" type="submit">{{ app.request.uri|split('/')[5]|ucfirst }}</button>
        {% endif %}
        {{ form_end(form) }}
    </div>
{% endblock %}