{% extends 'adminPanel/common.html.twig' %}

{% block content %}
    <div class="col-sm-10 py-3 ">
        <h3 class="border-bottom">{{ formHeader }}</h3>
        {{ form_start(form) }}

        <div class="row no-gutters">
            <div class="col-sm-5">
                <div class="form-group row no-gutters">
                    {{ form_label(form.siteName, null, {'label_attr':{'class': 'col-sm-4 col-form-label'}}) }}
                    <div class="col-sm-8">
                        {{ form_widget(form.siteName, {'attr':{'class': "form-control"}} ) }}
                    </div>
                </div>
                <div class="form-group row no-gutters">
                    {{ form_label(form.disclaimer, null, {'label_attr':{'class': 'col-sm-4 col-form-label'}}) }}
                    <div class="col-sm-8">
                        {{ form_widget(form.disclaimer, {'attr':{'class': "form-control"}} ) }}
                    </div>
                </div>
                <div class="form-group row no-gutters">
                    {{ form_label(form.copyright, null, {'label_attr':{'class': 'col-sm-4 col-form-label'}}) }}
                    <div class="col-sm-8">
                        {{ form_widget(form.copyright, {'attr':{'class': "form-control"}} ) }}
                    </div>
                </div>
                <div class="form-group">
                    <label>Stats:</label>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">Total posts</th>
                                <th scope="col">Total threads</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{ commons.totalPosts }}</td>
                                <td>{{ commons.totalThreads }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="col-sm-5 ml-3">
                <img alt="logo" src="{{ asset(commons.logo) }}" style="max-width: 500px; max-height: 500px;">
                <div class="form-group row no-gutters mt-3">
                    {{ form_label(form.logo, null, {'label_attr':{'class': 'col-form-label mr-2'}}) }}
                    {{ form_widget(form.logo, {'attr':{'class': ""}} ) }}
                </div>
            </div>
        </div>
        <button class="btn btn-primary" type="submit">Edit</button>
        {{ form_end(form) }}
    </div>
{% endblock %}