{% extends 'adminPanel/common.html.twig' %}

{% block content %}
    <div class="container-fluid d-flex flex-column">
        <div class="d-inline-flex align-items-center p-2">
            <h4 class="m-0 mr-4">Boards</h4>
            <form action="{{ path('admin_boards_create') }}">
                <button type="submit" class="btn btn-primary">Create</button>
            </form>
        </div>
        <div style="overflow-y: auto; max-height: 90vh;">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Alias</th>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">General theme</th>
                    <th scope="col">Active threads</th>
                    <th scope="col">Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for board in boards %}
                    <tr>
                        <th scope="row">
                            <a href="{{ path('board_index', {'alias': board.alias }) }}">{{ board.alias }}</a>
                        </th>
                        <td>{{ board.name }}</td>
                        <td>{{ board.description }}</td>
                        <td>{{ board.boardTheme.name }}</td>
                        <td>{{ board.threads.count }}</td>
                        <td>
                            <a href="{{ path('admin_boards_edit', {'alias': board.alias}) }}">Edit</a>
                            <a href="{{ path('admin_boards_delete', {'alias': board.alias}) }}">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}