<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>
            {% block title %}
                {% if app.request.get('op_post_id')!=null %}
                    /{{ app.request.get('board').alias }}/ - {{ posts[0].theme }}
                {% elseif app.request.get('board') != null %}
                    /{{ app.request.get('board').alias }}/ - {{ app.request.get('board').name }}
                {% else %}
                    image_board - anonymous board
                {% endif %}
            {% endblock %}
        </title>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        {% endblock %}
        {% block preBodyJavascripts %}
        {% endblock %}
    </head>
    <body style="height:100vh">
        {% for message in app.flashes('notification') %}
            <div class="alert alert-info" style="position: absolute; left: 50%; top:25%; z-index:10; transform: translateX(-50%);" onclick="this.style.visibility='hidden'">
                <span>{{ message }}</span><br />
                <small>Click to hide</small>
            </div>
        {% endfor %}
        {% block body %}{% endblock %}
        {% block javascripts %}
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        {% endblock %}

    </body>
</html>
