{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid py-3 h-100">
        <div class="row no-gutters mb-2">
            <div class="mx-auto d-inline-flex align-items-center">
                <img alt="logo" src="{{ asset(siteCommons.logo) }}" class="mr-5" style="width: 150px; height: 150px;">
                <a href="/">
                    <h1>{{ siteCommons.siteName }}</h1>
                </a>
            </div>
        </div>
        <div class="row no-gutters mb-2">
            <div class="col-sm-6 mx-auto d-inline-flex align-items-center p-2 border">
                <p class="m-0">
                    {{ siteCommons.disclaimer }}
                </p>
            </div>
        </div>
        <div class="row no-gutters mb-2" style="height: 350px;">
            <div class="col-sm-6 mx-auto d-inline-flex align-items-center border">
                <div class="col-sm-3 h-100 py-2">
                    <ul class="list-group d-flex flex-column flex-wrap" style="list-style: none; max-height: 300px;">
                        {% for theme in themes %}
                            <p class="m-0">
                                <b>{{ theme.name }}</b>
                            </p>
                            {% for board in theme.boards %}
                                <li class="w-50 mr-5 text-wrap">
                                    <a href="{{ path('board_index', {'alias': board.alias}) }}">{{ board.name }}</a>
                                </li>
                            {% endfor %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="row no-gutters mb-2">
            <div class="col-sm-4 mx-auto d-inline-flex align-items-center border justify-content-around">
                <div>
                    <span>Total posts:</span>
                    <span>{{ siteCommons.totalPosts }}</span>
                </div>
                <div>
                    <span>Total threads:</span>
                    <span>{{ siteCommons.totalThreads }}</span>
                </div>
            </div>
        </div>
        <div class="row no-gutters fixed-bottom">
            <div class="col-sm-12 border p-2">
                <div class="col-sm-12 px-0">
                    {% for theme in themes %}
                        [<span>
                            {% for board in theme.boards %}
                                <a href="{{ path('board_index', {'alias': 'a'}) }}">/{{ board.alias }}/</a>
                            {% endfor %}
                        </span>]
                    {% endfor %}
                </div>
                <span>{{ siteCommons.copyright }}</span>
            </div>
        </div>
    </div>
{% endblock %}