{% extends 'adminPanel/common.html.twig' %}

{% block content %}
    <div class="container-fluid d-flex flex-column">
        <div class="d-inline-flex align-items-center p-2">
            <h4 class="m-0 mr-4">Reports</h4>
        </div>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Post</th>
                <th scope="col">Reason</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for report in reports %}
                <tr>
                    <th scope="row">{{ report.id }}</th>
                    <td><a href="{{ path('thread_index',{'alias':report.post.thread.board.alias, 'op_post_id': report.post.thread.opPost.id}) }}#{{ report.post.id }}">{{ report.post.id }}</a></td>
                    <td>{{ report.reason }}</td>
                    <td>
                        <a href="{{ path('admin_reports_delete_report', {'id':report.id}) }}">Delete report</a>
                        |
                        <a href="{{ path('admin_reports_delete_post', {'id':report.post.id}) }}">Delete post</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}