{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid py-3 h-100">
        <div class="row no-gutters mb-2">
            <div class="mx-auto d-inline-flex align-items-center">
                <img alt="logo" src="{{ asset('uploads/images/logo.jpeg') }}" class="mr-5" style="width: 150px; height: 150px;">
                <a href="/">
                    <h1>image_board</h1>
                </a>
            </div>
        </div>
        <div class="row no-gutters mb-2" style="height: 350px;">
            <div class="col-sm-6 mx-auto d-inline-flex align-items-center">
                <div class="col-sm-5 h-100 py-2 mx-auto">
                    <h1 class="text-center">500</h1>
                    <h5 class="text-center">
                        Something went wrong, contact with us to provide us with details of what happened
                        via email: <a href="mailto:{{ contact_email }}">{{ contact_email }}</a>
                    </h5>
                    <div class="d-flex">
                        <a class="mx-auto" style="font-size: 14pt;" href="/">Main page</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}